body {
	margin: 0px;
}

.container{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 3em;
	font-family: fantasy;
	border-bottom: 2px solid hotpink;
	margin-top: 10px;
}

img {
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.05);
}